body * {
  margin: 0;
  padding: 0;
}

.page {
  width: 800px;
  margin: 0 auto;
}

/* Header */
.header {
  margin: 25px 0 50px;
  text-align: center;
}
.header h1 { font: 700 200px 'Roboto Condensed', sans serif; }
.header h2 {
  font: 42px 'Roboto Condensed', sans serif;
  margin: -40px 0 10px;
}
.header h3 {
  font: 30px 'Roboto Condensed', sans serif;
  color: #ddd;
}

/* Posts */

/** Page Structure **/
.post { margin: 100px 0; }

/** Two Column Structure **/
.post .headers {
  width: 200px;
  padding-right: 75px;
}
.post .content {
  width: 525px;
  float: right;
  padding-top: 13px;
}
.post .clear { clear: both; }

/** Post Headers **/
.post .headers { text-align: right; }
.post .title {
  font: 40px 'Roboto Condensed', sans serif;
  margin: -10px 0 10px;
  text-transform: lowercase;
}
.post .flags {
  font: 20px Inconsolata, monospace;
  margin-bottom: 20px;
}
.post .metadata { text-transform: lowercase; }

/** Post Content **/
.post .content { font: 16px 'Open Sans', sans-serif; }
.post .content p {
  line-height: 20px;
  margin-bottom: 15px;
}
.post .content code { font: 20px Inconsolata, monospace; }
.post .content code a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dotted #ccc;
}
.post .content ul,
.post .content ol { padding-left: 50px; }
